.setup-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.nothing-here {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }

.setup-container .hover-button {
    position: absolute;
    z-index: 10;
    bottom: 0px;
    right: 0px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.setup-container .hover-button button{
    background-color: rgba(10, 192, 34, 0.952);
    padding: 4px;
}

.setup-container .hover-button button.brown{
    background-color: brown;
    padding: 4px;
}

.setup-container .hover-button button:focus{
    outline: none;
    box-shadow: none;
}

.setup-container .extra-scroll{
    padding-bottom: 55px;
}
