.material-icons {
    vertical-align: bottom;
}

.component-ui-toolbar {
    width: 100%;
    height: 48px;
    color: white;
}

.component-ui-toolbar>.card {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0px;
    border-radius: 0%;
}

.component-ui-toolbar>.card>.card-body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0px;
}

.component-ui-toolbar .toolbar {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
/*--------------------*/
.component-ui-toolbar .toolbar.admin {
    background-color: rgb(36, 156, 12);
}

.component-ui-toolbar .toolbar.user {
    background-color: rgb(121, 54, 115);
}
/*--------------------------------*/

.component-ui-toolbar .toolbar>.sec-1 {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.component-ui-toolbar .toolbar>.sec-2 {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

.component-ui-toolbar .toolbar>.sec-1 .toolbar-item.app-name {
    color: white;
    background-color: rgb(50, 53, 50);
    border-radius: 3px;
    padding: 5px 8px 5px 8px;
    margin-left: 5px;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    margin-right: 60px;
    z-index: 10;
}

.menu .menu-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
}

/*.menu .menu-item:hover {
    background-color: rgb(185, 179, 176);
    border-radius: 3px;
    color: black;
    background-color: rgb(218, 216, 216);
    border-radius: 3px;
}*/

.menu .menu-item.active {
    color: black;
    background-color: rgb(218, 216, 216);
    border-radius: 3px;
}

.component-ui-toolbar .toolbar>.sec-2 .toolbar-item.logout {
    cursor: pointer;
    margin-right: 5px;
}